body {
    font-family: 'Arial Rounded MT Bold', 'Helvetica', sans-serif;
    background-color: #fff0f0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .title {
    font-size: 3em;
    font-weight: bold;
    color: #FF69B4; /* 明るいピンク色 */
    margin-top: 100px;
    text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.5); /* 影をつけて立体感を出す */
    transition: transform 0.3s; /* アニメーション効果 */
}

.title:hover {
    transform: scale(1.1); /* ホバー時に少し大きくなる */
}
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 70vh;
  }
  
  .nikibi-img {
    width: 300px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .bubble {
    background-color: #ffffff;
    
    border-radius: 50px;
    padding: 15px 25px;
    max-width: 80%;
    font-size: 1.2em;
    position: relative;
    margin: 20px;
    color: #000000;
  }
  
  .bubble::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  
  button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #585858;
  }

  